//*inicio*//
body{
    background-color: $colorbody;
}
//*personajes*//
.card-box{
    margin: 15px;
    width: 22rem;
    display: inline-block;
    
    .card-img{
        border: 5px;
        width: 21rem;
    }
    .card{
        font-size: 15px;
        width: 21rem;
        
    }
    .card-title{
        text-align: center;

    }
    .card-text{
        padding: 5px;
    }
}

//*premios*//
#premios{
    font-size: 20px;
    margin-left: 50px;
    padding-top: 30px;
}